body {
    font-family: Arial, sans-serif;
    background-color: #c85252;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    background-color: #742b2b;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(162, 215, 55, 0.1);
  }
  
  h1 {
    color: #519454;
  }
  
  .add-task {
    margin-top: 20px;
  }
  
  .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #9ebeb9;
  }
  
  .task-actions {
    display: flex;
    gap: 10px;
  }
  